<%= raw(FerneWeb.EventView.build_event_breadcrumbs_two(@conn, @event, "FFXIV Roles")) %>

<h1>Change settings for FFXIV Roles</h1>

<.form let={f} for={@changeset} action={Routes.event_path(@conn, :block_post, @event.id, "ffxiv_roles")}>
  <div class="mb-3">
    <%= label f, :name, "Name of the form field", class: "form-label" %>
    <%= text_input f, :name, class: "form-control", placeholder: "Default: Select your preferred roles" %>
  </div>

  <div class="mb-3">
    <%= label f, :description, "Description of the form field", class: "form-label" %>
    <%= textarea f, :description, class: "form-control", placeholder: "Default: None" %>
  </div>

  <div class="form-check mb-3">
    <%= label f, :roles_only, "Only select roles instead of classes", class: "form-check-label" %>
    <%= checkbox f, :roles_only, class: "form-check-input" %>
  </div>

  <div class="mb-3">
    <%= label f, :restrict_roles, "Restrict to specific set of roles?", class: "form-label" %>
    <%= select f, :restrict_roles, ["All Roles": "all", "Tanks only": "tanks", "Healers only": "healers", "DPS only": "dps"], class: "form-control form-select" %>
  </div>

  <div class="mb-3">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
</.form>
