@import "bootstrap/dist/css/bootstrap.min.css";
@import "toastify-js/src/toastify.css";

@font-face  {
  font-family: "Eorzean Calligraphy";
  src: url("../../priv/static/eorzean-calligraphy.woff2") format("woff2");
}

/* Some extended Bootstrap-compatible classes */

tr.table-marked,
td.table-marked {
  --bs-table-accent-bg: #fff3cd;
}

tr.table-selected,
td.table-selected {
  --bs-table-accent-bg: #cfe2ff;
}

.confirmed {
  background-color: #e0f2fe !important;
}

.party-highlighted,
.party-highlighted-hover:hover {
  background-color: #fff1f2;
  cursor: pointer;
}

.confirmed.ag-row-selected {
  background-color: rgba(33, 150, 243, 0.3) !important;
}

th.attendee-header {
  border-left: 1px solid #afbfd5;
}

.no-caret::after {
  border: 0;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.role-tank,
.role-warrior,
.role-gunbreaker,
.role-darkknight,
.role-paladin {
  background-color: #cfe2ff !important;
}

.role-healer,
.role-rghealer,
.role-astrologian,
.role-whitemage {
  background-color: #d1e7dd !important;
}

.role-shhealer,
.role-scholar,
.role-sage {
  background-color: #b1d2c3 !important;
}

.role-melee,
.role-physranged,
.role-magicranged,
.role-monk,
.role-samurai,
.role-ninja,
.role-reaper,
.role-dragoon,
.role-bard,
.role-dancer,
.role-machinist,
.role-blackmage,
.role-summoner,
.role-redmage {
  background-color: #f8d7da !important;
}

.role-none {
  background-color: whitesmoke !important;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.btn-xs {
  padding: 2px 7px !important;
}

#description img {
  max-width: 100%;
  height: auto;
}

.show-container .show-hover {
  display: none;
  transition: 0.5s all;
}

.show-container:hover .show-hover,
.show-container:focus .show-hover {
  display: inline-block;
}

table#attendees {
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

.form-label-required::after {
  content: " *";
  color: red;
}

.required-star {
  color: red;
}

.fs-7 {
  font-size: 0.85rem;
}

table.party-display {
  table-layout: fixed;
  max-width: 1500px;
}

table.party-display td {
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  height: 40px;
}

button.role-button {
  border: 0;
  padding: 10px;
  background-color: inherit;
}

button.role-button.highlighted {
  background-color: #fef3c7;
}

/* temp hack FIXME */
.modal-xl {
  max-width: 1750px !important;
}

.embedded-input {
  opacity: 0.7;
  border: 1px solid lightgray;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.bg-success-hover:hover {
  background-color: #198754;
  cursor: pointer;
  color: #fff;
}

.grid-height {
  height: 70vh;
}

.eorzea-font {
  font-family: "Eorzean Calligraphy";
  font-size: 25px;
}

@media (min-width: 992px) {
  .mw-lg-xl {
    max-width: 42rem;
  }
}
