<.form let={f} for={@changeset} action={@action}>
  <fieldset class="mb-3">
    <%= label f, :name, class: "form-label form-label-required" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </fieldset>

  <fieldset class="mb-3">
    <%= label f, :description, class: "form-label" %>
    <%= textarea f, :description, class: "form-control", placeholder: "A short description of what your team is about..." %>
    <%= error_tag f, :description %>
  </fieldset>

  <fieldset class="mb-3">
    <%= label f, :link, "URL", class: "form-label" %>
    <%= url_input f, :link, class: "form-control" %>
    <%= error_tag f, :link %>
  </fieldset>

  <fieldset class="mb-3">
    <div class="form-check">
      <%= checkbox f, :public_members, class: "form-check-input" %>
      <%= label f, :public_members, "Show team members publicly?", class: "form-check-label" %>
    </div>
  </fieldset>


  <small class="d-block mb-2 text-muted"><span class="required-star">*</span> = required field</small>
  <div>
    <%= submit @submit_text, class: "btn btn-primary" %>
  </div>
</.form>
