<%= render("_about.html", Map.merge(assigns, %{active: :templates})) %>

<div class="mw-lg-xl m-auto">
  <%= if length(@templates) == 0 do %>
    <div class="text-muted text-center p-5 bg-light rounded">
      No templates yet! You can create one from the event management page.
    </div>
  <% end %>
  <%= for template <- @templates do %>
    <div class="border rounded p-3 mb-2 d-flex flex-column flex-lg-row align-items-center">
      <div>
        <h4 class="m-0 fw-bold me-2"><%= template.name %></h4>
        <div class="text-muted"><strong><%= length(Map.keys(template.block_data)) %></strong> blocks active</div>
      </div>
      <div class="ms-auto">
        <%= link "Create event from template", to: Routes.event_path(@conn, :new_via_template, template.id), class: "btn btn-primary" %>
      </div>
      <%= if Bodyguard.permit?(Ferne.Team, :administrate_team, @current_user, @team) do %>
        <%= link to: Routes.event_path(@conn, :delete_template, template.id), method: :delete, class: "btn btn-danger ms-1" do %>
          <i class="bi bi-trash"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
